<<<<<<< HEAD
##STARTSERVER.CFG
Doc1 documents\608Doc1760
Doc2 documents\222Doc21091
Doc3 documents\1687Doc3452
=======
##STARTSERVER.CFG
Doc1 documents\118Doc11636
Doc2 documents\1953Doc2334
Doc3 documents\1766Doc3164
>>>>>>> branch 'master' of ssh://salazarm@athena.dialup.mit.edu/afs/athena.mit.edu/course/6/6.005/git/fa12/projects/rtce/ericemer-salazarm-mpan1218.git
